.create {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
}

.create-text {
    line-height: 1.5;
}

.create-image {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
    background-image: url("https://www.hdwallpapers.in/download/funny_brown_dog_is_wearing_eye_glasses_tie_sitting_in_black_background_4k_hd_funny_dog-HD.jpg");
}

.create-name {
    padding: 15px;
    width: 300px;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
}

.create-button {
    width: 333px;
    height: 45px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #EC8F5E;
    font-size: 15px;
    font-weight: bold;
}

.upload-image-label {
    font-size: 14px;
    margin-left: -45px;
}

#upload-image {
    font-size: 12px;
    color: grey;
}

#upload-image::file-selector-button {
    color: #EC8F5E;
    border: 1px solid #EC8F5E;
    border-radius: 5px;
    background-color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin: auto 10px auto 10px;
}

#upload-image::file-selector-button:hover {
    cursor: pointer;
}
